<div>
    <p>--------------------------------------------</p>
    Search Word :  <input type="text" id="INPUT" />
    <p>--------------------------------------------</p>
    <p>-------SUGGESTION WORDS----------------</p>
    <ul id="SWORD"></ul>
    <p>--------------------------------------------</p>

</div>
